* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: #0f2027;   /* خلفية داكنة */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;          /* النص أبيض */
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.05);
    padding: 50px 70px;
    border-radius: 15px;
}

.container h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.container p {
    opacity: 0.8;
    margin-bottom: 20px;
}

.line {
    width: 80px;
    height: 2px;
    background: #00e5ff;
    margin: 0 auto 20px auto;
}

.tag {
    font-size: 12px;
    padding: 6px 14px;
    border: 1px solid white;
    border-radius: 20px;
}